*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
/manager/signing.properties
/out
/signing.properties
/java_pid57549.hprof
/manager/samsung-platform.jks
